
.counter-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.card-gray {
    background-color: rgb(70, 68, 68); 
    color: white;
}

.container .card {
    margin: 0 20px;
}

.fa-clock {
    font-size: 5rem; 
}

.display-1 {
    font-size: 4rem; 
}
